.main {
    display: flex;
    justify-content: space-between;
    margin-top: 10vw;
}

.content {
    position: relative; 
    width: 80%;
    background-color: rgb(234, 234, 234);
    border-radius: 2vw;
}

.purpleBlocks1 {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.purpleBlocks2 {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.purpleBlock {
    width: 6vw;
    position: relative;
}

.infinityPic {
    width: 100%;
}

.aboutAutor {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 30vw;
    margin-top: 10vw;
}

.autorDescription {
    display: flex;
    width: 50%;
    height: 25vw;
    flex-direction: column;
    align-items: center;
    border: 1.5px rgb(150, 0, 150) solid;
    border-radius: 2vw;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: rgb(234, 234, 234);
}

.title {
    font-size: 2vw;
    text-align: center;
    color: rgb(150, 0, 150);
}

.description {
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}

.slider {
    display: flex;
    width: 35%;
    height: 30vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1.5px rgb(150, 0, 150) solid;
    border-radius: 2vw;
    background-color: rgb(234, 234, 234);
}

.titleAboutSlider {
    font-size: 2vw;
    padding: 10px;
    text-align: center;
    color: rgb(150, 0, 150);
}

.containerOfSlides {
    display: flex;
    justify-content: center;
    padding: 1vw;
}

.slide {
    display: flex;
    width: 20vw;
    height: 11vw;
    justify-content: center;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

.next {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(150, 0, 150);
    width: 3vw;
    height: 5vw;
    border: 1.5px rgb(150, 0, 150) solid;
    cursor: pointer;
    margin: 1vw;
    border-radius: 1vw;
}

.back {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(150, 0, 150);
    width: 3vw;
    height: 5vw;
    transform: rotate(180deg);
    border: 1.5px rgb(150, 0, 150) solid;
    cursor: pointer;
    margin: 1vw;
    border-radius: 1vw;
}

.frilance {
    margin-top: 8vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frilanceTitle {
    display: flex;
    justify-content: center;
}

.frTitle {
    font-size: 1.5vw;
    border: 1.5px rgb(150, 0, 150) solid;
    padding: 1.3vw;
    border-radius: 2vw;
    text-align: center;
    background-color: rgb(234, 234, 234);
}

.aboutTrade {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trade1 {
    width: 26vw;
    border: 1.5px rgb(150, 0, 150) solid;
    border-radius: 2vw;
    background-color: rgb(234, 234, 234);
}

.trade2 {
    width: 26vw;
    border-radius: 2vw;
    border: 1.5px gold solid;
    background-color: rgb(234, 234, 234);
}

.titleOfTrade {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2vw;
    color: rgb(150, 0, 150);
}

.descriptionOfTrade {
    font-size: 1.4vw;
    text-align: center;
    padding: 1.5vw;
}

.price {
    display: flex;
    font-size: 1.4vw;
    justify-content: center;
    align-items: center;
    color: green;
}

.meetAutor {
    display: flex;
    justify-content: center;
}

.meetAutorBtn {
    padding: 1.3vw;
    border-radius: 2vw;
    font-size: 1.5vw;
    border: none;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    cursor: pointer;
}

.mainContent {
    position: relative; 
    z-index: 2;
}

.portfolio {
    height: 40vw;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolioTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prtTitle {
    font-size: 1.5vw;
    border: 1.5px rgb(150, 0, 150) solid;
    padding: 1.3vw;
    border-radius: 2vw;
    text-align: center;
    background-color: rgb(234, 234, 234);
}

.portfolioWorks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
}

.workTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    font-size: 1.7vw;
    text-align: center;
    color: rgb(150, 0, 150);
}

.workContent1 {
    width: 30vw;
    height: 18vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/src/assets/work1.png);
}

.workContent2 {
    width: 30vw;
    height: 18vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/src/assets/work2.png);
}

@media all and (max-width: 768px) {

    .main {
        margin-top: 0;
    }

    .content {
        background-color: transparent; 
        border-radius: 4vw;
    }

    .purpleBlock {
        width: 6vw;
    }

    .infinityPic {
        width: 100%;
    }

    .purpleBlocks1 {
        align-items: flex-end;
    }
    
    .purpleBlocks2 {
        align-items: flex-start;
    }

    .redStone {
        border: 1vw rgb(221, 19, 59) solid;
    }
    
    .blueStone {
        border: 1vw rgb(58, 58, 250) solid;
    }
    
    .greenStone {
        border: 1vw rgb(138, 253, 138) solid;
    }
    
    .yellowStone {
        border: 1vw rgb(251, 251, 101) solid;
    }
    
    .orangeStone {
        border: 1vw rgb(250, 182, 55) solid;
    }
    
    .purpleStone {
        border: 1vw rgb(150, 0, 150) solid;
    }

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 120vw;
        margin-top: 25vw;
    }
    
    .autorDescription {
        width: 90%;
        height: 50vw;
        border-radius: 5vw;
    }
    
    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent; 
        border: none;
        border-radius: 5vw;
    }
    
    .containerOfSlides {
        display: flex;
        justify-content: center;
        padding: 3vw;
    }
    
    .slide {
        width: 50vw;
        height: 30vw;
    }

    .photo {
        border-radius: 3vw;
    }

    .next {
        font-size: 8vw;
        color: rgb(150, 0, 150);
        padding: 3vw;
        border: 0.2vw rgb(150, 0, 150) solid;
        cursor: pointer;
        margin: 3vw;
        border-radius: 2vw;
    }
    
    .back {
        font-size: 8vw;
        color: rgb(150, 0, 150);
        padding: 3vw;
        transform: rotate(180deg);
        border: 0.2vw rgb(150, 0, 150) solid;
        cursor: pointer;
        margin: 3vw;
        border-radius: 2vw;
    }
    
    .title {
        font-size: 5vw;
        margin-top: 2vw;
    }
    
    .description {
        font-size: 3.5vw;
        padding: 1vw;
    }
    
    .titleAboutSlider {
        font-size: 5vw;
        width: 30vw;
    }
    
    .frilance {
        height: 230vw;
        margin-top: 50vw;
    }
    
    .frTitle {
        font-size: 3.5vw;
        padding: 1vw;
        border-radius: 4vw;
    }
    
    .aboutTrade {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 160vw;
    }
    
    .trade1,
    .trade2 {
        width: 80%;
        border-radius: 5vw;
    }
    
    .titleOfTrade {
        padding: 3vw;
        font-size: 5vw;
    }
    
    .descriptionOfTrade {
        font-size: 3.5vw;
        padding: 1.5vw;
    }

    .price {
        font-size: 3.5vw;
    }

    .meetAutorBtn {
        font-size: 5vw;
        padding: 3vw;
        border-radius: 3vw;
    }

    .portfolio {
        height: 80vw;
        margin-top: 20vw;
    }
    
    .work {
        width: 40%;
    }
    
    .prtTitle {
        font-size: 3.5vw;
        padding: 2.5vw;
        border-radius: 4vw;
    }
    
    .workTitle {
        font-size: 4vw;
    }
}