body {
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(/src/assets/697b00d2b6bcf68cbb94f9da415dec98.jpg);
}

::selection {  
  background: rgb(150, 0, 150);
  color: white;
}  